<section class="mt-3">
    <div class="input-icon mb-3">
        <span class="input-icon-addon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
        </span>
        <input [(ngModel)]="search_article_name" (ngModelChange)="searchArticles($event)" type="text" class="form-control" placeholder="Search...">
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div *ngIf="articles.length > 0 else notfoundArticles" class="table-responsive">
                <table class="table table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Categories</th>
                        </tr>
                    </thead>
                    <tbody id="lista_articulos">
                        <tr *ngFor="let article of articles">
                            <td data-label="ID">
                                {{ article.id }}
                            </td>
                            <td data-label="Name">
                                {{ article.attributes.name }}
                            </td>
                            <td data-label="Description">
                                <p class="text-muted m-0 fs-5">{{ article.attributes.description | break:100 }}</p>
                            </td>
                            <td data-label="Categories">
                                <span *ngFor="let category of article.attributes.categories" class="badge bg-cyan-lt me-2">{{ category.name }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #notfoundArticles>
                <div class="empty">
                    <div class="empty-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-empty" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="9" y1="10" x2="9.01" y2="10"></line>
                            <line x1="15" y1="10" x2="15.01" y2="10"></line>
                            <line x1="9" y1="15" x2="15" y2="15"></line>
                        </svg>
                    </div>
                    <p class="empty-title">No articles found!</p>
                </div>
            </ng-template>
        </div>
    </div>
    <p class="text-muted text-center">Showing <strong>{{ articles.length }}</strong> articles</p>
</section>