<header class="border-bottom border-2">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="https://delfosti.com/wp-content/uploads/2022/11/Logo-secundario.png" alt="Delfosti" height="52">
    <h1 class="fs-7 py-4 m-0">
      Articles
    </h1>
  </div>
</header>
<main class="mb-5">
  <div class="container">
    <app-articles></app-articles>
  </div>
</main>